<html>

<head>
    <title>Users</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<style>
    body {
        background: rgb(238, 238, 238);
    }
    
    .menu {
        height: 100vh;
        background: #fff;
        padding: 0;
    }
    
    ul {
        list-style: none;
        padding: 0;
    }
    
    li {
        padding: 10px;
    }
    
    li.active {
        background: #5f5f5f;
        color: #fff;
    }
    
    .content {
        background: rgb(226, 225, 225);
    }
</style>

<body>
    <div class="container-fluid m-0">
        <div class="row">
            <div class="col-md-2 menu">
                <h2>Users</h2>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'create' %}">New</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                <div class="content">

                </div>
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>

</html>