{% extends 'base.html' %} {% block content %}{% load widget_tweaks %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 ">
            <h3 style="text-align:center;">
                New user
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <form method="post" novalidate>
                {% csrf_token %} {% for hidden_field in form.hidden_fields %} {{ hidden_field }} {% endfor %} {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }} {% render_field field class="form-control" %} {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small> {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">post</button>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}