{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <h3 class="round3" style="text-align:center;">List users</h3>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" href="{% url 'create' %}">
                Nuevo
            </a>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-12">
            <h4>Name</h4>
        </div>
    </div>

    {% for user in user_list %}
    <div class="row">
        <div class="col-md-7">
            {{ user.firstName }} {{user.lastName}}
        </div>
        <div class="col-md-1">
            <a href="{% url 'edit' user.pk %}">
                <button type="button" class="btn btn-info">
                   Edit
                </button>
            </a>
        </div>
        <div class="col-md-1">
            <a href="{% url 'delete' user.pk %}">
                <button type="button" class="btn btn-danger">
                    Delete
                </button>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}